{% extends 'layout.html.twig' %}

{% block content %}

    <h2>Votre compte</h2>
    <p><a href="{{ path('profile_edit') }}">Modifier</a></p>

    <div>
        <p>{{ app.user.username }}</p>
        <p>{{ app.user.email }}</p>
        <p>{{ app.user.firstName }}</p>
        <p>{{ app.user.lastName }}</p>
        <p>{{ app.user.birthday|date("d/m/Y") }}</p>
        <p>{{ app.user.phoneNumber }}</p>
        <p><img src="{{ asset('/uploads/profile_images/' ~ app.user.profilePicturePath) }}" height="120px"/></p>
        <p>{{ app.user.description }}</p>
        <p>{{ app.user.fidelity }}</p>
    </div>
    <br />
    <br />
    <div>
        <H4>Vos contributions :</H4>
        <p>
            <ul class="list-group">
                <li class="list-group-item"><a href="{{ path('my_activities') }}">Voir mes activités créées</a>
                <li class="list-group-item"><a href="{{ path('my_subjects') }}">Voir mes sujets créés</a>
            </ul>
        <br />
        <br />
        <br />
        <br />

        </p>
    </div>

{% endblock %}