{% extends 'layout.html.twig' %}

{% block content %}

    <h2>Votre compte</h2>

    <div>
        <p>{{ app.user.username }}</p>
        <p>{{ app.user.email }}</p>
        <p>{{ app.user.firstName }}</p>
        <p>{{ app.user.lastName }}</p>
        <p>{{ app.user.birthday|date("d/m/Y") }}</p>
        <p>{{ app.user.phoneNumber }}</p>
        <p>{{ app.user.profilePicture }}</p>
        <p>{{ app.user.description }}</p>
        <p>{{ app.user.fidelity }}</p>
    </div>
    <br />
    <br />
    <div>
        <H6>Vos contributions :</H6>
        <p>
            <ULstyle="list-style-type:square">
                <LI><a href="{{ path('my_activities') }}">Voir mes activités créées</a>
                <LI><a href="{{ path('my_subjects') }}">Voir mes sujets créés</a>
            </UL>
        <br />
        <br />
        <br />
        <br />

        </p>
    </div>

{% endblock %}