{% extends 'layout.html.twig' %}


{% block content %}

    <div>
        <h1>quark.website application</h1>
    </div>

    <div>
        <h2>Plan du site</h2>
    </div>

    <div>
        <p>
                <ul>
                    <li><a href="{{ path('restaurants') }}">Restaurants</a></li>
                    <li><a href="{{ path('voyages') }}">Voyages</a></li>
                    <li><a href="{{ path('bonplans') }}">Bon plans</a></li>
                    <li><a href="{{ path('bars-loisirs') }}">Bars &amp; Loisirs</a></li>
                    <li><a href="{{ path('forum') }}">Forum</a></li>
                </ul>
        </p>
    </div>

{% endblock %}