<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        {# Image à mettre #}
        <h3>{{ activity.title }}</h3>
        <img class="img-responsive" src="{{ asset('/uploads/activity_images/' ~ activity.activityPicturePath) }}">

        <div class="caption">
            <h4>{{ activity.category.displayName }}</h4>
            <p>
                {{ activity.description|replace({'<script>': '&lt;script&gt;', '</script>': '&lt;/script&gt;'})|raw }}
            </p>
            <p>
                <a href="{{ path('activity_show', {'id': activity.id}) }}" class="btn btn-primary" role="button">
                    <span class="glyphicon glyphicon-info-sign"></span> &nbsp; En savoir plus
                </a>
                <a href="{{ path('activity_edit', {'id': activity.id}) }}" class="btn btn-success" role="button">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </p>
        </div>
    </div>
</div>