<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        {# Image à mettre #}
        {{ activity.title }}
        <div class="caption">
            <h3>{{ activity.title }}</h3>
            <h4>{{ activity.category.displayName }}</h4>
            <p>
                {{ activity.description }}
            </p>
            <p>
                <a href="{{ path('activity_detail', {'id': activity.id}) }}" class="btn btn-primary" role="button">
                    <span class="glyphicon glyphicon-info-sign"></span> &nbsp; En savoir plus
                </a>
            </p>
        </div>
    </div>
</div>