{% extends 'layout.html.twig' %}

{% block content %}

    <div class="col-md-12">
        <h3>{{ activity.title }}</h3>
        <h4>{{ activity.category.displayName }}</h4>
        <img class="img-responsive" src="{{ asset('/uploads/activity_images/' ~ activity.activityPicturePath) }}">
    </div>

    <br/>
    <br/>

    <div class="col-md-6 col-sm-12">
        {{ activity.description|raw }}
    </div>

    <div class="col-md-6 col-sm-12">
        {{ activity.street }}<br/>
        {{ activity.postalCode }}<br/>
        {{ activity.city }}<br/>
        {{ activity.country }}
    </div>

    <div class="col-md-12">
        <h4>Evaluations :</h4>
        {% for ev in activity.evaluations %}
            {{ ev.user.username }}
            {{ ev.budget }}
            {{ ev.score }}
            {{ ev.comment }}
        {% endfor %}
    </div>

    {% if app.user %}
        {#TODO: EVALUTION#}
    {% endif %}

{% endblock %}